th {
  background-color: #DCDCDC;
  text-align: center;
}

tr {
  text-align: center;
}

.event {
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  text-shadow: 3px 2px 2px black;
}

.event_title {
  font-size: 2.5em;
}
.event_first {
  font-size: 2em;
}
.event_second {
  font-size: 1.5em;
}
.event_third {
  font-size: 1em;
}
.event_timer {
  font-size: 2em;
}

.result_text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  text-align: center;
  font-size: 2em;
  background-color: #5B0905;
  color: #FFFFFF;
}

.head {
    text-align: center;
    background-image: url('/images/header-bg.jpg');
    min-height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result {
    min-height: 40%;
    background-color: #F4F3EF;
}

.foot {
    text-align: center;
    background-image: url('/images/footer-bg.jpg');
    min-height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head,
.foot {
  color: #FFFFFF;
}
